.App {
  text-align: center;
}

.boardImg {
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  -user-drag: none;
}

.chessBoard {
  position: fixed;
  z-index: 0;
}

.piece {
  position: fixed;
}

.piece img {
  user-select: none;
  -webkit-user-drag: none;
  -k-html-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* user-drag: none; */
}
